<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <!-- haut de page -->
    <header>
     <p>
      application web avec express
     </p>
    </header>
     
    <!-- menu de naviguation -->

     <nav>
      <ul>
        <li> <a href="/">page d accueil</a> </li>

        <li> <a href="services">nos services</a></li>

        <li> <a href="contact">nous contacter</a></li>
      </ul>
    </nav>
    <p>
      bienvenue sur notre services de vente en linge
    </p>
    <!-- contenu -->

    <div>
      
      
      
    </div>

    

    <footer>
      <p>
        copyright &copy;  2022/2023
      </p>
    </footer>
    
  </body>
</html>
