<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    
    <ul>
        <li> <a href="/">page d accueil</a> </li>
        <li> <a href="services">nos services</a></li>
        <li> <a href="contact">nous contacter</a></li>
      </ul>

      <div>

        <p>
            nous mettons a votre dispositions tout types de viandes d animaux <br>
        </p>
           <h1> poulets </h1>
            <p> les poulets de chairs sont a 3000fcfa l unite <br>
                les pondeuses a 4000fcfa l unite <br>
                les coquelets a 5000fcfa l unite <br>
                les hybrides a 6000fcfa l unite <br>
            </p>

            <h2> les lapins</h2>
               <p>
                les lapins sont vendus selon leurs poids
               </p>

      </div>
</body>
</html>